.u-section-1 .u-sheet-1 {
  min-height: 2327px;
}

.u-section-1 .u-group-1 {
  --radius: 30px;
  width: 1249px;
  min-height: 2098px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.05);
  margin: 70px auto -163px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  min-height: 1883px;
  margin-top: 50px;
  margin-bottom: 0;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.09);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 87px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  height: 481px;
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
  --radius: 21px;
}

.u-section-1 .u-text-3 {
  line-height: 1.87;
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2543px;
  }

  .u-section-1 .u-group-1 {
    min-height: 2403px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-image-1 {
    height: 146px;
  }
}