 .u-section-1 {
  --color-var: #fdfdfd;
}

.u-section-1 .u-sheet-1 {
  min-height: 755px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-1 {
  height: 694px;
  margin-top: 31px;
  margin-bottom: 31px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 14px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 30px;
    margin-bottom: -168px;
  }

  .u-section-1 .u-carousel-item-1 {
    margin-right: initial;
    margin-top: initial;
  }

  .u-section-1 .u-carousel-item-2 {
    margin-right: initial;
    margin-top: initial;
  }

  .u-section-1 .u-carousel-item-3 {
    margin-right: initial;
    margin-top: initial;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 7px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-carousel-control-1 {
    left: 4px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-1 .u-gallery-1 {
    margin-bottom: -468px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 3px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 477px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1198px;
  margin: 40px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 25px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 25px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 1242px;
  margin: 50px auto -54px;
}

.u-section-2 .u-repeater-1 {
  --gap: 20px;
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 322px;
  grid-auto-columns: calc(25% - 15px);
}

.u-section-2 .u-list-item-1 {
  --radius: 26px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-2 .u-image-1 {
  height: 141px;
  --radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 15px 1px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 36px 0 0;
  padding: 8px 122px;
}

.u-section-2 .u-list-item-2 {
  --radius: 26px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-2 .u-image-2 {
  height: 141px;
  --radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 15px 1px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 36px 0 0;
  padding: 8px 122px;
}

.u-section-2 .u-list-item-3 {
  --radius: 26px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-2 .u-image-3 {
  height: 141px;
  --radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 15px 1px 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 36px 0 0;
  padding: 8px 122px;
}

.u-section-2 .u-list-item-4 {
  --radius: 26px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 10px 0;
}

.u-section-2 .u-image-4 {
  height: 141px;
  --radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 15px 1px 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-5 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 36px 0 0;
  padding: 8px 122px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 20px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 244px;
  }

  .u-section-2 .u-image-1 {
    height: 104px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 104px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 104px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 104px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 748px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-2 .u-image-1 {
    height: 164px;
  }

  .u-section-2 .u-image-2 {
    height: 164px;
  }

  .u-section-2 .u-image-3 {
    height: 164px;
  }

  .u-section-2 .u-image-4 {
    height: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 508px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-image-1 {
    height: 251px;
  }

  .u-section-2 .u-image-2 {
    height: 251px;
  }

  .u-section-2 .u-image-3 {
    height: 251px;
  }

  .u-section-2 .u-image-4 {
    height: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 22px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 22px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -260px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 154px;
  }

  .u-section-2 .u-image-2 {
    height: 154px;
  }

  .u-section-2 .u-image-3 {
    height: 154px;
  }

  .u-section-2 .u-image-4 {
    height: 154px;
  }
}

.u-block-53a4-53,
.u-block-53a4-53:before,
.u-block-53a4-53 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-53a4-59,
.u-block-53a4-59:before,
.u-block-53a4-59 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-53a4-61,
.u-block-53a4-61:before,
.u-block-53a4-61 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-53a4-67,
.u-block-53a4-67:before,
.u-block-53a4-67 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-53a4-73,
.u-block-53a4-73:before,
.u-block-53a4-73 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-5,
.u-section-2 .u-btn-5:before,
.u-section-2 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-4,
.u-section-2 .u-btn-4:before,
.u-section-2 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-3 .u-sheet-1 {
  min-height: 531px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1198px;
  margin: 40px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 25px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 25px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  padding: 0;
}

.u-section-3 .u-list-1 {
  width: 927px;
  margin: 54px auto 27px 67px;
}

.u-section-3 .u-repeater-1 {
  --gap: 20px;
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 372px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-3 .u-list-item-1 {
  --radius: 26px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  height: 197px;
  --radius: 20px;
  width: 276px;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 15px 1px 0 53px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-3 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px auto 0;
  padding: 8px 107px 8px 106px;
}

.u-section-3 .u-list-item-2 {
  --radius: 26px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  height: 197px;
  --radius: 20px;
  width: 276px;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 15px 1px 0 53px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-3 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px auto 0;
  padding: 8px 107px 8px 106px;
}

.u-section-3 .u-list-item-3 {
  --radius: 26px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  height: 197px;
  --radius: 20px;
  width: 276px;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 15px 1px 0 53px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-3 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px auto 0;
  padding: 8px 107px 8px 106px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 20px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.333333333333334px));
  }

  .u-section-3 .u-image-1 {
    height: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-3 .u-image-2 {
    height: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-3 .u-image-3 {
    height: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 84px;
    padding-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .u-section-3 .u-image-1 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -50px;
    margin-bottom: -44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-image-1 {
    height: 198px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 198px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 198px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before,
.u-section-3 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-3,
.u-section-3 .u-btn-3:before,
.u-section-3 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0544-53,
.u-block-0544-53:before,
.u-block-0544-53 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0544-59,
.u-block-0544-59:before,
.u-block-0544-59 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-4,
.u-section-3 .u-btn-4:before,
.u-section-3 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-4 .u-sheet-1 {
  min-height: 651px;
}

.u-section-4 .u-group-1 {
  min-height: 611px;
  margin-top: 20px;
  margin-bottom: -133px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 1156px;
  height: 551px;
  --radius: 20px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-4 .u-group-1 {
    min-height: 487px;
    margin-bottom: -64px;
    height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 880px;
    height: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 660px;
    height: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 520px;
    height: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-4 .u-group-1 {
    min-height: 207px;
    margin-bottom: -220px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 152px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 504px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1198px;
  margin: 40px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 25px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 25px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  padding: 0;
}

.u-section-5 .u-list-1 {
  width: 974px;
  margin: 54px auto 20px 111px;
}

.u-section-5 .u-repeater-1 {
  --gap: 20px;
  grid-auto-columns: 311.328px 311.328px 311.328px;
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 345px;
}

.u-section-5 .u-list-item-1 {
  --radius: 26px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 151px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 10px 0 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 10px 0 0 auto;
}

.u-section-5 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 20px auto 0;
  padding: 8px 107px 8px 106px;
}

.u-section-5 .u-list-item-2 {
  --radius: 26px;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 151px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 10px 0 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 10px 0 0 auto;
}

.u-section-5 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 20px auto 0;
  padding: 8px 107px 8px 106px;
}

.u-section-5 .u-list-item-3 {
  --radius: 26px;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 151px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 10px 0 0 auto;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 10px 0 0 auto;
}

.u-section-5 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 20px auto 0;
  padding: 8px 107px 8px 106px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 20px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.333333333333334px));
  }

  .u-section-5 .u-image-1 {
    height: 145px;
  }

  .u-section-5 .u-image-2 {
    height: 145px;
  }

  .u-section-5 .u-image-3 {
    height: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .u-section-5 .u-image-1 {
    height: 168px;
  }

  .u-section-5 .u-image-2 {
    height: 168px;
  }

  .u-section-5 .u-image-3 {
    height: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 257px;
  }

  .u-section-5 .u-image-2 {
    height: 257px;
  }

  .u-section-5 .u-image-3 {
    height: 257px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 22px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 22px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 40px;
    margin-bottom: -72px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    height: 158px;
  }

  .u-section-5 .u-image-2 {
    height: 158px;
  }

  .u-section-5 .u-image-3 {
    height: 158px;
  }
}

.u-section-5 .u-btn-2,
.u-section-5 .u-btn-2:before,
.u-section-5 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-3,
.u-section-5 .u-btn-3:before,
.u-section-5 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-4,
.u-section-5 .u-btn-4:before,
.u-section-5 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-6 .u-sheet-1 {
  min-height: 480px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1198px;
  margin: 40px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 22px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 22px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  padding: 0;
}

.u-section-6 .u-list-1 {
  width: 1242px;
  margin: 51px auto 19px 67px;
}

.u-section-6 .u-repeater-1 {
  --gap: 20px;
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 327px;
  grid-auto-columns: 295.5px 295.5px 295.5px 295.5px;
}

.u-section-6 .u-list-item-1 {
  --radius: 26px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-6 .u-image-1 {
  height: 141px;
  --radius: 20px;
  width: 276px;
  margin: 0 1px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 15px 2px 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 1px 0;
}

.u-section-6 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px auto 0;
  padding: 8px 110px 8px 108px;
}

.u-section-6 .u-list-item-2 {
  --radius: 26px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 9px;
}

.u-section-6 .u-image-2 {
  height: 141px;
  --radius: 20px;
  width: 276px;
  margin: 0 1px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 15px 2px 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 1px 0;
}

.u-section-6 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px auto 0;
  padding: 8px 110px 8px 108px;
}

.u-section-6 .u-list-item-3 {
  --radius: 26px;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 9px;
}

.u-section-6 .u-image-3 {
  height: 141px;
  --radius: 20px;
  width: 276px;
  margin: 0 1px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 15px 2px 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 1px 0;
}

.u-section-6 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px auto 0;
  padding: 8px 110px 8px 108px;
}

.u-section-6 .u-list-item-4 {
  --radius: 26px;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 9px;
}

.u-section-6 .u-image-4 {
  height: 141px;
  --radius: 20px;
  width: 276px;
  margin: 0 1px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 15px 2px 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 1px 0;
}

.u-section-6 .u-btn-5 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px auto 0;
  padding: 8px 110px 8px 108px;
}

.u-section-6 .u-list-item-5 {
  --radius: 26px;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px 9px;
}

.u-section-6 .u-image-5 {
  height: 141px;
  --radius: 20px;
  width: 276px;
  margin: 0 1px;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 15px 2px 0;
}

.u-section-6 .u-text-12 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 1px 0;
}

.u-section-6 .u-btn-6 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px auto 0;
  padding: 8px 110px 8px 108px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 17px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 17px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(25% - 15px);
  }

  .u-section-6 .u-image-1 {
    height: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-6 .u-image-2 {
    height: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-6 .u-image-3 {
    height: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-4 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-6 .u-image-4 {
    height: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-5 {
    padding-left: 84px;
    padding-right: 84px;
  }

  .u-section-6 .u-image-5 {
    height: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-6 {
    padding-left: 84px;
    padding-right: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .u-section-6 .u-image-1 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-5 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-5 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 22px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 22px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 28px;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-6 .u-image-1 {
    height: 159px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 159px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 159px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 159px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-5 {
    height: 159px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-6 .u-btn-2,
.u-section-6 .u-btn-2:before,
.u-section-6 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-3,
.u-section-6 .u-btn-3:before,
.u-section-6 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-4,
.u-section-6 .u-btn-4:before,
.u-section-6 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-5,
.u-section-6 .u-btn-5:before,
.u-section-6 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3b0d-53,
.u-block-3b0d-53:before,
.u-block-3b0d-53 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3b0d-59,
.u-block-3b0d-59:before,
.u-block-3b0d-59 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-6,
.u-section-6 .u-btn-6:before,
.u-section-6 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-block-d25f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d25f-3 {
  position: absolute;
  left: calc(((100% - 1420px) / 2)  + 4px);
  --radius: 50px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
  padding: 11px;
}

.u-block-d25f-4 {
  position: absolute;
  --radius: 50px;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  right: calc(((100% - 1420px) / 2)  + 4px);
  padding: 11px;
}

@media (max-width: 1199px) {
  .u-block-d25f-3 {
    left: calc(((100% - 940px) / 2)  + 3px);
  }

  .u-block-d25f-4 {
    right: calc(((100% - 940px) / 2)  + 3px);
  }
}

@media (max-width: 991px) {
  .u-block-d25f-3 {
    left: calc(((100% - 720px) / 2)  + 2px);
  }

  .u-block-d25f-4 {
    right: calc(((100% - 720px) / 2)  + 2px);
  }
}

@media (max-width: 767px) {
  .u-block-d25f-3 {
    left: calc(((100% - 540px) / 2)  + 2px);
  }

  .u-block-d25f-4 {
    right: calc(((100% - 540px) / 2)  + 2px);
  }
}

@media (max-width: 575px) {
  .u-block-d25f-3 {
    left: calc(((100% - 340px) / 2)  + -39px);
    top: 97px;
  }

  .u-block-d25f-4 {
    top: 97px;
    right: calc(((100% - 340px) / 2)  + -39px);
  }
}

 .u-section-7-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/716408bf8c446118d6af8665773ffa017c211f2d9d55cadf00aa7d920444e30d8e856029601994b0f44a370a69ed8c1f762c81b240e6566a5243f7_1280.jpg');
  background-position: 50% 50%;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 593px;
}

.u-section-7-1 .u-text-1 {
  font-size: 2.625rem;
  font-weight: 700;
  width: 725px;
  margin: 250px auto;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-7-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-7-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-7-1 .u-text-1 {
    font-size: 1.75rem;
    width: 340px;
  }
}

 .u-section-7-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/9e208c41085140cb4cba07b3c3f63c531cf57bc5f3f279b9de1870527579b3007de080c18b0cd7d87d7caded711c68775a829cfe7478936fff5e7b_1280.jpg');
  background-position: 50% 50%;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 593px;
}

.u-section-7-2 .u-text-1 {
  font-size: 2.625rem;
  font-weight: 700;
  width: 774px;
  margin: 250px auto;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-2 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-7-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-7-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-7-2 .u-text-1 {
    font-size: 1.75rem;
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 333px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1198px;
  margin: 40px auto 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 23px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 23px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-list-1 {
  width: 696px;
  background-image: none;
  margin: 40px auto;
}

.u-section-8 .u-repeater-1 {
  --gap: 20px;
  grid-template-columns: repeat(1, 100%);
  min-height: 190px;
  grid-auto-columns: 100%;
}

.u-section-8 .u-list-item-1 {
  --radius: 15px;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-8 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 70px;
  height: 70px;
  object-position: 50% 22%;
  --radius: 50px;
  margin: 7px auto 0 500px;
}

.u-section-8 .u-text-2 {
  font-size: 0.9375rem;
  margin: -68px 201px 0 106px;
}

.u-section-8 .u-image-2 {
  width: 118px;
  height: 31px;
  margin: -24px auto 0 118px;
}

.u-section-8 .u-list-item-2 {
  --radius: 15px;
}

.u-section-8 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-8 .u-icon-2 {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-image-3 {
  width: 70px;
  height: 70px;
  object-position: 50% 22%;
  --radius: 50px;
  margin: 7px auto 0 500px;
}

.u-section-8 .u-text-3 {
  font-size: 0.9375rem;
  margin: -68px 201px 0 106px;
}

.u-section-8 .u-image-4 {
  width: 118px;
  height: 31px;
  margin: -24px auto 0 118px;
}

.u-section-8 .u-list-item-3 {
  --radius: 15px;
}

.u-section-8 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-8 .u-icon-3 {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-image-5 {
  width: 70px;
  height: 70px;
  object-position: 50% 22%;
  --radius: 50px;
  margin: 7px auto 0 500px;
}

.u-section-8 .u-text-4 {
  font-size: 0.9375rem;
  margin: -68px 201px 0 106px;
}

.u-section-8 .u-image-6 {
  width: 118px;
  height: 31px;
  margin: -24px auto 0 118px;
}

.u-section-8 .u-list-item-4 {
  --radius: 15px;
}

.u-section-8 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-8 .u-icon-4 {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-image-7 {
  width: 70px;
  height: 70px;
  object-position: 50% 22%;
  --radius: 50px;
  margin: 7px auto 0 500px;
}

.u-section-8 .u-text-5 {
  font-size: 0.9375rem;
  margin: -68px 201px 0 106px;
}

.u-section-8 .u-image-8 {
  width: 118px;
  height: 31px;
  margin: -24px auto 0 118px;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 14px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 14px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 18px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 18px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: -16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-image-1 {
    margin-right: 547px;
  }

  .u-section-8 .u-text-2 {
    width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-2 {
    margin-right: 165px;
  }

  .u-section-8 .u-image-3 {
    margin-right: 547px;
  }

  .u-section-8 .u-text-3 {
    width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-4 {
    margin-right: 165px;
  }

  .u-section-8 .u-image-5 {
    margin-right: 547px;
  }

  .u-section-8 .u-text-4 {
    width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-6 {
    margin-right: 165px;
  }

  .u-section-8 .u-image-7 {
    margin-right: 547px;
  }

  .u-section-8 .u-text-5 {
    width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-8 {
    margin-right: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 14px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-8 .u-image-1 {
    margin-right: 512px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 118px;
    margin-left: 188px;
  }

  .u-section-8 .u-image-2 {
    margin-right: 130px;
  }

  .u-section-8 .u-image-3 {
    margin-right: 512px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 118px;
    margin-left: 188px;
  }

  .u-section-8 .u-image-4 {
    margin-right: 130px;
  }

  .u-section-8 .u-image-5 {
    margin-right: 512px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 118px;
    margin-left: 188px;
  }

  .u-section-8 .u-image-6 {
    margin-right: 130px;
  }

  .u-section-8 .u-image-7 {
    margin-right: 512px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 118px;
    margin-left: 188px;
  }

  .u-section-8 .u-image-8 {
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 21px;
  }

  .u-section-8 .u-image-1 {
    margin-right: 436px;
    margin-left: 450px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 14px;
    margin-left: 136px;
    width: 520px;
  }

  .u-section-8 .u-image-2 {
    margin-right: 104px;
  }

  .u-section-8 .u-image-3 {
    margin-right: 436px;
    margin-left: 450px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 14px;
    margin-left: 136px;
    width: 520px;
  }

  .u-section-8 .u-image-4 {
    margin-right: 104px;
  }

  .u-section-8 .u-image-5 {
    margin-right: 436px;
    margin-left: 450px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 14px;
    margin-left: 136px;
    width: 520px;
  }

  .u-section-8 .u-image-6 {
    margin-right: 104px;
  }

  .u-section-8 .u-image-7 {
    margin-right: 436px;
    margin-left: 450px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 14px;
    margin-left: 136px;
    width: 520px;
  }

  .u-section-8 .u-image-8 {
    margin-right: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 22px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 22px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 28px;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 185px;
  }

  .u-section-8 .u-image-1 {
    margin-right: auto;
    margin-left: 250px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -31px;
    margin-right: 40px;
  }

  .u-section-8 .u-image-3 {
    margin-right: auto;
    margin-left: 250px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-8 .u-image-4 {
    margin-top: -31px;
    margin-right: 40px;
  }

  .u-section-8 .u-image-5 {
    margin-right: auto;
    margin-left: 250px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-8 .u-image-6 {
    margin-top: -31px;
    margin-right: 40px;
  }

  .u-section-8 .u-image-7 {
    margin-right: auto;
    margin-left: 250px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-8 .u-image-8 {
    margin-top: -31px;
    margin-right: 40px;
  }
}

.u-block-8f1e-53,
.u-block-8f1e-53:before,
.u-block-8f1e-53 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8f1e-59,
.u-block-8f1e-59:before,
.u-block-8f1e-59 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}