.u-section-1 .u-sheet-1 {
  min-height: 824px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1198px;
  margin: 40px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 25px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 25px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 2px 0 0;
}

.u-section-1 .u-list-1 {
  width: 927px;
  margin: 54px 67px 60px auto;
}

.u-section-1 .u-repeater-1 {
  --gap: 20px;
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 353px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-1 .u-list-item-1 {
  --radius: 26px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 25px;
}

.u-section-1 .u-image-1 {
  height: 141px;
  --radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 15px 1px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 36px 0 0;
  padding: 8px 122px;
}

.u-section-1 .u-list-item-2 {
  --radius: 26px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 25px;
}

.u-section-1 .u-image-2 {
  height: 141px;
  --radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 15px 1px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 36px 0 0;
  padding: 8px 122px;
}

.u-section-1 .u-list-item-3 {
  --radius: 26px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 25px;
}

.u-section-1 .u-image-3 {
  height: 141px;
  --radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 15px 1px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 36px 0 0;
  padding: 8px 122px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 20px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -109px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.333333333333334px));
  }

  .u-section-1 .u-image-1 {
    height: 102px;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 84px;
    padding-right: 84px;
  }

  .u-section-1 .u-image-2 {
    height: 102px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 84px;
    padding-right: 84px;
  }

  .u-section-1 .u-image-3 {
    height: 102px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 84px;
    padding-right: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 823px;
  }

  .u-section-1 .u-image-1 {
    height: 162px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 162px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 162px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 248px;
  }

  .u-section-1 .u-image-2 {
    height: 248px;
  }

  .u-section-1 .u-image-3 {
    height: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -50px;
    margin-bottom: -556px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-1 {
    height: 153px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 144px;
    padding-left: 144px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-2 {
    height: 153px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 144px;
    padding-left: 144px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-3 {
    height: 153px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 144px;
    padding-left: 144px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5178-53,
.u-block-5178-53:before,
.u-block-5178-53 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5178-59,
.u-block-5178-59:before,
.u-block-5178-59 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5178-99,
.u-block-5178-99:before,
.u-block-5178-99 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5178-117,
.u-block-5178-117:before,
.u-block-5178-117 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5178-123,
.u-block-5178-123:before,
.u-block-5178-123 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5178-129,
.u-block-5178-129:before,
.u-block-5178-129 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5178-135,
.u-block-5178-135:before,
.u-block-5178-135 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}